- @user ||= current_user
.stats
  %table
    %tr
      %td
        %a{:href => following_user_path(@user)}
          %span#following.stat
            = @user.followed_users.count
            following
      %td
        %a{:href => followers_user_path(@user)}
          %span#followers.stat
            = pluralize(@user.followers.count, "follower")