- provide(:title, 'Help Page')
%h1="Help Page h1"
%p
  This is the home page for the
  = link_to "My Site", "http://google.com"
  sample application.

= link_to "Sign up now!", '#', class: "signup_button round"
